#heading {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    text-decoration: underline;
}

h1, h2{
    color: darkblue;
}

b {
    color: blue;
}

p, ul{
    color: cornflowerblue;
}

body {
    background-color: aliceblue;
}