body {margin: 0;}

ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #ece7e2;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.nav-list li a {
  display: block;
  color: #1f1f29;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.nav-list li a.current {
  background-color: #4a7766;
  color: #ece7e2;
}

ul.nav-list li a:hover:not(.current) {
  background-color: #555;
  color: #ece7e2;
}

.page-content {
  margin-left: 25%;
  padding: 1px 16px;
  justify-content: center;
  display: flex;
}

.profile-text p {
    margin: 0 0 1.5rem;
    /* float: right; */
}

.profile {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.column {
    flex: 1;
}

.profile-image {
    border-radius: 50%;
    border: 0.25rem solid #4a7766;
    width: 30%;
    align-self: center;
}


@media screen and (max-width: 900px) {
  ul.nav-list {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.nav-list li a {
    float: left;
    padding: 15px;
  }
  
  .page-content {margin-left: 0;}

  .profile {
    margin-top: 2rem;
    display: block;
    text-align: center;
  }

  .profile-image {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 400px) {
  ul.nav-list li a {
    text-align: center;
    float: none;
  }
}