body {margin: 0;}

ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #ece7e2;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.nav-list li a {
  display: block;
  color: #1f1f29;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.nav-list li a.current {
  background-color: #4a7766;
  color: #ece7e2;
}

ul.nav-list li a:hover:not(.current) {
  background-color: #555;
  color: #ece7e2;
}

div.content {
  margin-left: 25%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.nav-list {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.nav-list li a {
    float: left;
    padding: 15px;
  }
  
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.nav-list li a {
    text-align: center;
    float: none;
  }
}